@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F4F2;
}

main {
    padding: 0 20px;
}

h1 {
    margin: 30px 0 10px;
    font-size: 24px;
    font-weight: 700;
    color: #436075;
    
}

.logocontainer {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.logo {
    width: 35%;
}

.petcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.mainbtn{
    width: 168px;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    color: #087990;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.06);
    margin: 10px;
}


a:link {
    text-decoration: none;
}






.petmenu {
    margin: 20px 0px 20px;
    display: flex;
    justify-content: space-around;   
    align-items: center;


}

.peticon { 
    height: 50px;
    margin: 8px;
}

.inactive {
    opacity: 50%;
}





.menu {
    margin:0;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 64px;
    width: 100%;
    background-color:#F8F4F2 ;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 6%)
}

.menuitem {
    height: 36px;
}






/*
table {
    width:100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #436075;
    margin-bottom:24px;
}
*/


/*
.medname {
    padding-right:16px;
    display: flex;
}

.medinfo {
    font-weight: 700;
    
}
*/

hr {
    background-color: #436075;
    height: 0.1px;
    border-width: 0;
    margin: 24px 0;
}

.medcta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin-bottom:72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #436075;
    margin-bottom:72px;
}


.profile-pic {
    border-radius: 35px;
    display: block;
    margin: 0 auto 72px;
    width: 100%;
    height: 100%;
    object-fit: cover
}


